
#insert{
  padding: 10px 20px;
  margin-top: 20px;
}
.imgMain{
  display: flex;
  flex-wrap:wrap;
}
.imagaes{
  position: relative;

}

.image{
  width: 150px;
  margin-left:20px;
}

.imgBtn{
  margin-left:20px;
  margin-top:10px;
  display:block;

}

.font {
  font-family: 'Cormorant Garamond','Sawarabi Mincho', serif,'Century','Arial','YuGothic','Yu Gothic','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3','メイリオ', 'Meiryo','ＭＳ ゴシック',sans-serif;;
}
