
#insert{
  padding: 10px 20px;
  margin-top: 20px;
}
.imgMain{
  display: flex;
  flex-wrap:wrap;
}
.images{
  position: relative;
  margin: 10px;
}

.image{
  width: 150px;
}

.imgBtn{
  margin-left:20px;
  margin-top:10px;
  display:block;
  padding: 0;
}

.font {
  font-family: 'Cormorant Garamond','Sawarabi Mincho', serif,'Century','Arial','YuGothic','Yu Gothic','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3','メイリオ', 'Meiryo','ＭＳ ゴシック',sans-serif;;
}

.modal-width{
  max-width: 80%;
}