@charset "UTF-8";
h1 {
  margin-top: 160px;
}
/* プルダウンメニュー */
#menu{
  list-style-type: none;
}
#menu li{
  position: relative;
  float: left;
  text-align: center;
}
#menu li a{
  display: block;
  color: #000;
  font-weight: bold;
  text-decoration: none;
}
#menu li ul{
  list-style: none;
  position: absolute;
  top: 100%;
  left: 0;
  margin: 0;
  padding: 0;
}
#menu li ul div{
  background-color: #f7f7f7a9;
}
#menu li:last-child ul{
  left: -100%;
  width: 100%;
}
#menu li ul li{
  overflow: hidden;
  height: 0;
  color: #000;
  -moz-transition: .2s;
  -webkit-transition: .2s;
  -o-transition: .2s;
  -ms-transition: .2s;
  transition: .2s;
}
#menu li ul li a{
  margin-top: 12px;
  text-align: left;
  font-size: 15px;
  font-weight: normal;
}
#menu li:hover > a{
  color:#CC0030;
}
#menu li:hover ul li{
  overflow: visible;
  height: 38px;
}

#menu li:hover ul li:first-child{
  border-top: 0;
}
#menu li:hover ul li:last-child{
  border-bottom: 0;
}
/* プルダウンメニューここまで */
