@charset "UTF-8";
h1{
  margin-top: 160px;
}
.news{
  width: 980px;
  text-align: center;
  margin-bottom: 50px;
}
.days{
  margin-left: 185px;
  text-align: left;
  margin-bottom: 10px;
}
.title_dc{
  display: inline-block;
  text-align: left;
  margin: 0 150px;
}
h4{
  font-size: 17px;
  font-weight: bold;
  border-bottom: black 0.8px solid;
  margin-top: 15px;
}
.discription{
  font-size: 13px;
  margin: 20px 0;
}

.image img{
width: 480px;
}