@charset "UTF-8";
h1{
  margin-top: 160px;
}
.center {
  margin-top: -1px;
}
.navi{
  display: none;
}
.logo img {
  margin-left: 45px;
}
nav ul li a {
  margin-left: 7px;
}
/* .nav-left {
  margin-left: 20px;
} */
.margin01 {
  margin-left: 0px;
}
nav ul li {
  margin-right: 42px;
}
.sns li{
  font-size: 11px;
}
.sns ul a:hover{
  color:#CC0030;
  transform: scale(1.2);
}
/* プルダウンメニュー */
#menu{
  list-style-type: none;
}
#menu li{
  position: relative;
  float: left;
  text-align: center;
}
#menu li a{
  display: block;
  color: #000;
  font-weight: bold;
  text-decoration: none;
}
#menu li ul{
  list-style: none;
  position: absolute;
  top: 100%;
  left: 0;
  margin: 0;
  padding: 0;
}
#menu li ul div{
  background-color: #f7f7f7a9;
}
#menu li:last-child ul{
  left: -100%;
  width: 100%;
}
#menu li ul li{
  overflow: hidden;
  height: 0;
  color: #000;
  -moz-transition: .2s;
  -webkit-transition: .2s;
  -o-transition: .2s;
  -ms-transition: .2s;
  transition: .2s;
}
#menu li ul li a{
  margin-top: 12px;
  text-align: left;
  font-size: 15px;
  font-weight: normal;
}
#menu li:hover > a{
  color:#CC0030;
}
#menu li:hover ul li{
  overflow: visible;
  height: 38px;
}

#menu li:hover ul li:first-child{
  border-top: 0;
}
#menu li:hover ul li:last-child{
  border-bottom: 0;
}
/* プルダウンメニューここまで */


.jewelry01 {
  margin-bottom: 0px;
}
.jewelry02 {
  margin: 13px;
}
.online-main{
  margin-bottom: 60px;
}
.pager .pagination {
  text-align: center;
}

.pager .pagination li {
  display: inline;
  margin: 0 2px;
  padding: 0;
  display: inline-block;
  width: 50px;
  height: 50px;
  text-align: center;
  position: relative;
  border-radius: 10px;
}


.pager .pagination li a{
  color: #000000;
  vertical-align: middle;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  display:table;
  text-decoration: none;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all  0.3s ease;
}

.pager .pagination li a span{
  display:table-cell;
  vertical-align:middle;
}

.pager .pagination li a:hover,
.pager .pagination li a.active{
  color: #fff;
  background: #996666;
}

@media only screen and (max-width: 767px){
  .pager .pagination li{
    display: none;
  }

  .pager .pagination li.pre,
  .pager .pagination li.next{
    display: inline-block;
    width: 40%;
    height: 50px;
    text-align: center;
  }

  .pager .pagination li.pre a,
  .pager .pagination li.next a{
    width: 100%;
    text-align: center;
  }

  .pager .pagination li.pre span::after{
    content: "　前の10件へ";
  }

  .pager .pagination li.next span::before{
    content: "次の10件へ　";
  }

}
